@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  }

  body {
    @apply bg-[#080d1a] text-slate-100 antialiased selection:bg-cyan-500/20 selection:text-cyan-200;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Leaflet Dark SOC Overrides */
.leaflet-container {
  background: #060913 !important;
  font-family: inherit;
}
.leaflet-popup-content-wrapper {
  background: #0b1120 !important;
  color: #f1f5f9 !important;
  border: 1px solid #1e293b !important;
  border-radius: 8px !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.8) !important;
}
.leaflet-popup-tip {
  background: #0b1120 !important;
}

/* Custom scrollbar for cyber NOC styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
